<% if user_signed_in? && @user != current_user %>
  <div id="follow-form">
    <% if current_user.following?(@user)%>
      <%= form_with(model: current_user, url: relationship_path(@user), method: :delete, remote: true) do |f| %>
        <%= f.submit "フォロー中", class:"cursor-pointer rounded-full w-full items-center text-center shadow px-4 py-2 bg-indigo-400 border border-indigo-400 border-opacity-100 text-white"%>
      <% end %>
    <% else %>
      <%= form_with(model: current_user, url: relationships_path, method: :post, remote: true) do |f| %>
        <%= hidden_field_tag :following_id, @user.id %>
        <%= f.submit "フォローする", class:"cursor-pointer rounded-full w-full items-center text-center shadow px-4 py-2 bg-white border border-indigo-400 border-opacity-100 text-indigo-400 hover:bg-indigo-400 hover:text-white" %>
      <% end %>
    <% end %>
  </div>
<% end %>
