<div class="flex flex-wrap -m-5 py-2">
  <% @posts.each do |post| %>
    <div class="p-2 md:w-1/3">
      <div class="h-full overflow-hidden rounded border">
        <span class="inline-flex float-right text-sm font-thin p-2 mx-auto"><%= post.created_at.strftime('%Y/%m/%d')%></span>
        <div class="flex items-center">
          <% if post.user.avatar.present? %>
            <%= link_to "/users/#{post.user.id}", title: "ユーザーページへ" do %>
              <%= image_tag post.user.avatar, class:"inline-flex items-center justify-center p-2 mx-auto w-16 h-16 rounded-full flex-shrink-0 object-cover object-center"%>
              <span class="title-font font-medium"><%= post.user.nickname %></span>
            <% end %>
          <% else %>
            <%= link_to "/users/#{post.user.id}", title: "ユーザーページへ" do %>
              <img alt="user" src="/assets/user.jpeg" class="inline-flex p-2 w-16 h-16 rounded-full flex-shrink-0 object-cover object-center">
              <span class="title-font font-medium px-1"><%= post.user.nickname %></span>
            <% end %>
          <% end %>
        </div>

        <%= link_to post do %>    
          <% if post.feature_images.present? %>
            <%= image_tag post.feature_images[0], class:"lg:h-48 md:h-36 w-full object-cover object-center", alt:"blog"%>
          <% else %>
            <img class="lg:h-48 md:h-36 w-full object-cover object-center" src="https://dummyimage.com/720x400" alt="blog">
          <% end %>
        <% end %>

        <div class="pt-3 p-6">
          <%= render 'tags/tag_list', tag_list: post.tag_list %>
          <%= link_to post do %>
            <h1 class="title-font text-lg font-bold text-gray-900 mt-1 mb-3 whitespace-pre-wrap"><%= link_to post.title, post %></h1>
            <div class="overflow-auto h-20">
              <p class="leading-relaxed mb-3 whitespace-pre-wrap font-medium"><%= post.body %></p>
            </div>
          <% end %>
          <div class="flex items-center flex-wrap text-xl">
            <%= render 'likes/like', post: post %>
            <%= link_to post do %>
              <%= render 'comments/comment', post: post %>
            <% end %>
            <% if user_signed_in? && current_user.id == post.user_id %>
              <%= link_to edit_post_path(post), class: "mr-3 inline-flex items-center lg:ml-auto md:ml-0 ml-auto leading-none pr-3 py-1 hover:text-green-400", title:"編集" do %>
                <i class="fas fa-edit"></i>
              <% end %>
              <%= link_to post, method: :delete, data: { confirm: 'ほんとに削除しますか？' }, class: "inline-flex items-center leading-none hover:text-red-600", title:"削除" do %>
                <i class="fas fa-trash-alt"></i>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

