<div class="max-w-6xl m-auto">
 
 <div class="flex items-center justify-between py-4 my-8 border-b">
    <% if current_user.id == @user.id %>
      <h1 class="text-xl font-bold mb-0 text-gray-500">あなたのプロフィール</h1>
    <% else %>
      <h1 class="text-xl font-bold mb-0 text-gray-500"><%= @user.nickname %>さんのプロフィール</h1>
    <% end %>
  </div>
  
  <div class="flex item-center justify-center">
    <div class="bg-white shadow p-4 rounded lg:w-1/2">
      <div class="text-center mt-4">
        <p class="text-gray-600 font-bold"><%= @user.nickname %></p>
      </div>
      <div class="flex justify-center mt-4">
        <% if user_signed_in? %>
          <% if @user.avatar.present?%>
            <%= image_tag @user.avatar, class:"p-2 mx-auto w-24 h-24 rounded-full flex-shrink-0 object-cover object-center"%>
          <% else %>
            <img alt="user" src="/assets/user.jpeg" class="p-2 mx-auto w-16 h-16 rounded-full flex-shrink-0 object-cover object-center">
          <% end %>
        <% end %>
      </div>
      <div class="mt-6 flex justify-around text-center">
        <div>
          <p class="text-gray-700 font-bold"><%= @user.posts.length %></p>
          <p class="text-xs mt-2 text-gray-600 font-hairline">投稿</p>
        </div>
        <div>
          <p class="text-gray-700 font-bold"><%= @likes_count %></p>
          <p class="text-xs mt-2 text-gray-600 font-hairline">受信したいいね</p>
        </div>
        <div>
          <%= link_to following_user_path(@user.id) do %>
            <p class="text-gray-700 font-bold"><%= @user.following.length %></p>
            <p class="text-xs mt-2 text-gray-600 font-hairline">フォロー中</p>
          <% end %>
        </div>
        <div>
          <%= link_to followers_user_path(@user.id) do %>
            <p class="text-gray-700 font-bold"><%= @user.followers.length %></p>
            <p class="text-xs mt-2 text-gray-600 font-hairline">フォロワー</p>
          <% end %>
        </div>
      </div>
      
      <div class="mt-6">
        <%= render "relationships/follow"%>
      </div>
    </div>
  </div>

  <div class="flex items-center justify-between py-4 my-8 border-b">
    <% if current_user.id == @user.id %>
      <h1 class="text-xl font-bold mb-0 text-gray-500">あなたのタイマーグラフ</h1>
    <% else %>
      <h1 class="text-xl font-bold mb-0 text-gray-500"><%= @user.nickname %>さんのタイマーグラフ</h1>
    <% end %>
  </div>

  <!-- タブメニュー -->
  <section>
    <ul class="flex mb-0 list-none flex-wrap pt-3 pb-4 flex-row cursor-pointer">
      <li class="-mb-px mr-2 last:mr-0 flex-auto text-center">
        <a class="text-s font-bold uppercase px-5 py-3 shadow-lg rounded block leading-normal text-blue-500 bg-white hover:bg-blue-500 hover:text-white" id="StudyMenu">学習</a>
      </li>
      <li class="-mb-px mr-2 last:mr-0 flex-auto text-center">
        <a class="text-s font-bold uppercase px-5 py-3 shadow-lg rounded block leading-normal text-green-500 bg-white hover:bg-green-500 hover:text-white" id="RelaxMenu">リラックス</a>
      </li>
      <li class="-mb-px mr-2 last:mr-0 flex-auto text-center">
        <a class="text-s font-bold uppercase px-5 py-3 shadow-lg rounded block leading-normal text-red-400 bg-white hover:bg-red-400 hover:text-white" id="FitnessMenu">フィットネス</a>
      </li>
      <li class="-mb-px mr-2 last:mr-0 flex-auto text-center">
        <a class="text-s font-bold uppercase px-5 py-3 shadow-lg rounded block leading-normal text-purple-500 bg-white hover:bg-purple-500 hover:text-white" id="HobbyMenu">娯楽</a>
      </li>
    </ul>

    <div class="hidden" id="Study_timers_chart">
      <%= line_chart @study_timers.group(:genre).group_by_day(:created_at, last: 7).sum(:count), colors: ["#3182ce", "#63b3ed"], xtitle: "日付（直近一週間）", ytitle: "合計分数", curve: false, empty: "データがありません"%>
    </div>
    
    <div class="hidden" id="Relax_timers_chart">
      <%= line_chart @relax_timers.group(:genre).group_by_day(:created_at, last: 7).sum(:count), colors: ["#38a169", "#68d391"], xtitle: "日付（直近一週間）", ytitle: "合計セット数", curve: false, empty: "データがありません"%>
    </div>
    
    <div class="hidden" id="Fitness_timers_chart">
      <%= line_chart @fitness_timers.group(:genre).group_by_day(:created_at, last: 7).sum(:count), colors: ["#f56565", "#ecc94b"], xtitle: "日付（直近一週間）", ytitle: "合計セット数", curve: false, empty: "データがありません"%>
    </div>
    
    <div class="hidden" id="Hobby_timers_chart">
      <%= line_chart @hobby_timers.group(:genre).group_by_day(:created_at, last: 7).sum(:count), colors: ["#805ad5", "#d53f8c"], xtitle: "日付（直近一週間）", ytitle: "合計分数", curve: false, empty: "データがありません"%>
    </div>
  </section>


  <div class="flex items-center justify-between py-4 my-4 border-b">
    <% if current_user.id == @user.id %>
      <h1 class="text-xl font-bold mb-0 text-gray-500">あなたの投稿</h1>
    <% else %>
      <h1 class="text-xl font-bold mb-0 text-gray-500"><%= @user.nickname %>さんの投稿</h1>
    <% end %>
  </div>
  <%= render partial: 'posts/posts' %>

  <div class="flex items-center justify-center my-10">
    <%= paginate @posts %>
  </div>
</div>