<header class="mb-4">
  <nav class="flex flex-wrap items-center justify-between px-3 py-3 text-gray-700 lg:px-10">
    <div class="flex items-center mr-6 flex-no-shrink">
      <%= link_to "Timmick", root_path, class:"link text-2xl tracking-tight font-semibold" %>
    </div>
    
    <div class="">
      <% if user_signed_in? %>
        <% if current_user.avatar.present?%>
          <%= link_to "/users/#{current_user.id}", title: "ユーザーページへ" do %>
            <%= image_tag current_user.avatar, class:"p-2 mx-auto w-24 h-24 rounded-full flex-shrink-0 object-cover object-center"%>
          <% end %>
        <% else %>
          <%= link_to "/users/#{current_user.id}", title: "ユーザーページへ" do %>
            <img alt="user" src="/assets/user.jpeg" class="p-2 mx-auto w-16 h-16 rounded-full flex-shrink-0 object-cover object-center">
          <% end %>
        <% end %>
      <% end %>
    </div>
    
    <div class="items-center block text-center">
      <% if user_signed_in? %>
        <%= link_to edit_user_registration_path, class: "mr-3 inline-flex items-center lg:ml-auto md:ml-0 ml-auto leading-none text-xl pr-3 py-1 hover:text-blue-400", title: "ユーザー編集" do %>
          <i class="fas fa-user-edit"></i>
        <% end %>
        <%= link_to destroy_user_session_path, method: :delete, class:"inline-flex items-center leading-none text-xl hover:text-red-500", title: "ログアウト" do %>
          <i class="fas fa-sign-out-alt"></i>
        <% end %>
      <% else %>
        <%= link_to new_user_registration_path, class:"mr-3 inline-flex items-center lg:ml-auto md:ml-0 ml-auto leading-none text-xl pr-3 py-1 hover:text-blue-400", title: "ユーザー登録" do %>
          <i class="fas fa-user-plus"></i>
        <% end %>
        <%= link_to new_user_session_path, class:"inline-flex items-center leading-none text-xl hover:text-green-400", title: "ログイン" do %>
          <i class="fas fa-sign-in-alt"></i>
        <% end %>
      <% end %>
    </div>
  </nav>
</header>
