<div class="container px-5 py-24 mx-auto flex flex-wrap flex-col">
  <!-- タブメニューー -->
  <ul class="flex mb-0 list-none flex-wrap pt-3 pb-4 flex-row cursor-pointer">
    <li class="-mb-px mr-2 last:mr-0 flex-auto text-center">
      <a class="text-s font-bold uppercase px-5 py-3 shadow-lg rounded block leading-normal text-purple-600 bg-white hover:bg-purple-600 hover:text-white" id="GameMenu">ゲーム</a>
    </li>
    <li class="-mb-px mr-2 last:mr-0 flex-auto text-center">
      <a class="text-s font-bold uppercase px-5 py-3 shadow-lg rounded block leading-normal text-pink-600 bg-white hover:bg-pink-600 hover:text-white" id="HobbyMenu">趣味</a>
    </li>
  </ul>
  
  <!-- ゲームタイマー -->
  <section class="bg-purple-600 border rounded hidden" id="Game">
    <!-- タイマー -->
    <div class="m-auto w-1/2 h-4 mt-4" id="GameBar"></div>
    <div class="max-w-2xl text-6xl text-center m-auto p-10">
      <div id="GameTimer">60:00</div>
      <div id="GameStart" class="btn btn-default">Start</div>
      <div id="GameReset" class="btn btn-default hidden"></div>
    </div>   
   
    <div class="flex item-center justify-center">
      <%= form_with model: @timer, local: true do |form| %>
        <div class="inline-flex">
          <%= form.text_field :timer_name, value: "ゲーム", readonly: true, class:"input h-8 mr-1 w-20" %>
          <div class="relative flex w-full flex-wrap items-stretch mb-3">
            <span class="cursor-pointer z-10 leading-snug font-normal absolute text-center text-gray-400 absolute bg-transparent rounded text-base items-center justify-center py-1 pl-1" id="GameEdit" title="編集する"><i class="fas fa-edit"></i></span>
            <%= form.number_field :timer_count, min: 0, max: 600, readonly: true, id: "GameTime", class:"relative rounded text-sm shadow outline-none focus:outline-none focus:shadow-outline w-20 h-8 pl-10" %>
            <p class="text-xl">✖︎セット</p>
          </div>
        </div>
        <% if user_signed_in? %>
          <div class="flex text-center justify-center p-10">
            <%= form.submit disabled: true, id: "GameSave", value: "記録する", class: "p-2 rounded" %>
          </div>
        <% end %>
      <% end %>
    </div>
    <!-- モーダルウィンドウ -->
    <div class="text-center m-auto p-10">
      <div id="GameOpen"></div>
      <div id="GameMask" class="fixed bg-gray-500 bg-opacity-75 inset-0 hidden z-0"></div>
      <section id="GameModal" class="bg-white w-1/4 absolute border rounded-lg p-10 inset-x-0 top-1/4 m-auto hidden">
        <p class="">時間があっという間でした</p>
        <p id="GameRest" class="btn btn-default mt-4">目の休憩</p>
        <p id="GameKeep" class="btn btn-default mt-4">もっと楽しむ</p>
      </section>   
    </div> 
  </section>
  
  <!-- 趣味タイマー -->
  <section class="bg-pink-600 border rounded hidden" id="Hobby">
    <!-- タイマー -->
    <div class="m-auto w-1/2 h-4 mt-4" id="HobbyBar"></div>
    <div class="max-w-2xl text-6xl text-center m-auto p-10 ">
      <div id="HobbyTimer">30:00</div>
      <div id="HobbyStart" class="btn btn-default">Start</div>
      <div id="HobbyReset" class="btn btn-default hidden"></div>
    </div>

    <div class="flex item-center justify-center">
      <%= form_with model: @timer, local: true do |form| %>
        <div class="inline-flex">
          <%= form.text_field :timer_name, value: "趣味", readonly: true, class:"input h-8 mr-1 w-20" %>
          <div class="relative flex w-full flex-wrap items-stretch mb-3">
            <span class="cursor-pointer z-10 leading-snug font-normal absolute text-center text-gray-400 absolute bg-transparent rounded text-base items-center justify-center py-1 pl-1" id="HobbyEdit" title="編集する"><i class="fas fa-edit"></i></span>
            <%= form.number_field :timer_count, min: 0, max: 600, readonly: true, id: "HobbyTime", class:"relative rounded text-sm shadow outline-none focus:outline-none focus:shadow-outline w-20 h-8 pl-10" %>
            <p class="text-xl">✖︎セット</p>
          </div>
        </div>
        <% if user_signed_in? %>
          <div class="flex text-center justify-center p-10">
            <%= form.submit disabled: true, id: "HobbySave", value: "記録する", class: "p-2 rounded" %>
          </div>
        <% end %>
      <% end %>
    </div>
    <!-- モーダルウィンドウ -->
    <div class="text-center m-auto p-10">
      <div id="HobbyOpen"></div>
      <div id="HobbyMask" class="fixed bg-gray-500 bg-opacity-75 inset-0 hidden z-0"></div>
      <section id="HobbyModal" class="bg-white w-1/4 absolute border rounded-lg p-10 inset-x-0 top-1/4 m-auto hidden">
        <p class="">時間があっという間でした</p>
        <p id="HobbyRest" class="btn btn-default mt-4">気分転換</p>
        <p id="HobbyKeep" class="btn btn-default mt-4">もっと楽しむ</p>
      </section>   
    </div>     
  </section>
</div>



