<div class="container px-5 py-24 mx-auto flex flex-wrap flex-col">
  <!-- タブメニューー -->
  <ul class="flex mb-0 list-none flex-wrap pt-3 pb-4 flex-row cursor-pointer">
    <li class="-mb-px mr-2 last:mr-0 flex-auto text-center">
      <a class="text-s font-bold uppercase px-5 py-3 shadow-lg rounded block leading-normal text-blue-600 bg-white hover:bg-blue-600 hover:text-white" id="PomodoroMenu">ポモドーロ・テクニック</a>
    </li>
    <li class="-mb-px mr-2 last:mr-0 flex-auto text-center">
      <a class="text-s font-bold uppercase px-5 py-3 shadow-lg rounded block leading-normal text-blue-400 bg-white hover:bg-blue-400 hover:text-white" id="StudentMenu">学生生活</a>
    </li>
  </ul>
  
  <!-- ポモドーロ・テクニックタイマー -->
  <section class="bg-blue-600 border rounded hidden" id="Pomodoro">
    <!-- タイマー -->
    <div class="m-auto w-1/2 h-4" id="PomodoroBar"></div>
    <div class="max-w-2xl text-6xl text-center m-auto p-10">
      <div id="PomodoroTimer">25:00</div>
      <div id="PomodoroStart" class="btn btn-default">Start</div>
      <div id="PomodoroReset" class="btn btn-default hidden"></div>
    </div>   
    <div class="flex item-center justify-center">
      <%= form_with model: @timer, local: true do |form| %>
        <div>
          <%= form.text_field :timer_name, value: "学習", readonly: true %>
          <%= form.number_field :timer_count, min: 0, max: 600, readonly: true, id: "PomodoroTime" %>
          <span class="cursor-pointer" id="PomodoroEdit" title="編集する"><i class="fas fa-edit"></i></span>
        </div>
        <div class="flex text-center justify-center p-10">
          <%= form.submit disabled: true, id: "PomodoroSave" %>
        </div>
      <% end %>
    </div>
    <!-- モーダルウィンドウ -->
    <div class="text-center m-auto p-10">
      <div id="PomodoroOpen"></div>
      <div id="PomodoroMask" class="fixed bg-gray-500 bg-opacity-75 inset-0 hidden z-0"></div>
      <section id="PomodoroModal" class="bg-white w-1/4 absolute border rounded-lg p-10 inset-x-0 top-1/4 m-auto hidden">
        <p class="">お疲れ様です</p>
        <p id="PomodoroRest" class="btn btn-default mt-4">休憩する</p>
        <p id="PomodoroKeep" class="btn btn-default mt-4">もっと頑張る</p>
      </section>   
    </div> 
  </section>
  
  <!-- 学生生活タイマー -->
  <section class="bg-blue-400 border rounded hidden" id="Student">
    <!-- タイマー -->
    <div class="m-auto w-1/2 h-4" id="StudentBar"></div>
    <div class="max-w-2xl text-6xl text-center m-auto p-10 ">
      <div id="StudentTimer">50:00</div>
      <div id="StudentStart" class="btn btn-default">Start</div>
      <div id="StudentReset" class="btn btn-default hidden"></div>
    </div>
    <div class="flex item-center justify-center">
      <%= form_with model: @timer, local: true do |form| %>
        <div>
          <%= form.text_field :timer_name, value: "学習", readonly: true %>
          <%= form.number_field :timer_count, min: 0, max: 600, readonly: true, id: "StudentTime" %>
          <span class="cursor-pointer" id="StudentEdit" title="編集する"><i class="fas fa-edit"></i></span>
        </div>
        <div class="flex text-center justify-center p-10">
          <%= form.submit disabled: true, id: "StudentSave" %>
        </div>
      <% end %>
    </div>
    <!-- モーダルウィンドウ -->
    <div class="text-center m-auto p-10">
      <div id="StudentOpen"></div>
      <div id="StudentMask" class="fixed bg-gray-500 bg-opacity-75 inset-0 hidden z-0"></div>
      <section id="StudentModal" class="bg-white w-1/4 absolute border rounded-lg p-10 inset-x-0 top-1/4 m-auto hidden">
        <p class="">お疲れ様です</p>
        <p id="StudentRest" class="btn btn-default mt-4">休憩する</p>
        <p id="StudentKeep" class="btn btn-default mt-4">もっと頑張る</p>
      </section>   
    </div>     
  </section>
</div>



