<%= form_with(model: post, local: true, multipart: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "エラー") %>がございます。</h2>

      <ul>
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-6">
    <%= form.label :タイトル（最大30字まで）, class: "relative" %>
      <span class="absolute text-red-600">*</span>
    <%= form.text_field :title, class: "input", maxlength:'30'%>
  </div>

  <div class="mb-6">
    <%= form.label :本文（最大140字まで）, class: "relative" %>
      <span class="absolute text-red-600">*</span>
    <%= form.text_area :body, class: "input", maxlength:'140', rows: '5'%>
  </div>

  <div class="mb-6">
    <%= form.label :タグ（最大２０文字まで）, class: "relative" %>
    <%= form.text_field :tag_list, class: "input", value: @post.tag_list.join("、"), maxlength:'20', placeholder: "スポーツ、趣味..." %>
  </div>

  <div class="mb-6">
    <%= form.label :画像（１枚目は投稿サムネになります）, class: "label" %>
    <div class="dropzone dropzone-default dz-clickable" data-controller="dropzone" data-dropzone-max-file-size="2" data-dropzone-max-files="4" data-dropzone-accepted-files="image/jpeg,image/png,image/gif">
    <%= form.file_field :feature_images, direct_upload: true, multiple: true, data: { target: 'dropzone.input' } %>
    <div class="dropzone-msg dz-message needsclick text-gray-600">
      <h3 class="dropzone-msg-title">ファイルをここにドロップする もしくは ここをクリックする</h3>
      <span class="dropzone-msg-desc text-sm">最大４枚まで（１枚当たり２MBまで）</span>
      </div>
    </div>
  </div>

  <div class="mb-6">
    <%= form.submit "作成する", class: "btn-default btn w-1/2 flex item-center justify-center m-auto" %>
  </div>
<% end %>