<div class="max-w-6xl m-auto">
  <div class="flex items-center justify-between py-4 my-4 border-b">
      <h1 class="text-xl font-bold mb-0 text-gray-500">投稿</h1>
      <%= link_to "新規投稿", new_post_path, class: "btn btn-default" if user_signed_in? %>
  </div>

    <div class="container px-5 py-5 mx-auto ">
      <div class="flex flex-wrap -m-4 ">
        <% @posts.each do |post| %>
        <div class="p-4 md:w-1/3 border rounded-lg">
          <a class="inline-flex items-center">
            <img alt="blog" src="https://dummyimage.com/104x104" class="w-12 h-12 rounded-full flex-shrink-0 object-cover object-center">
            <span class="title-font font-medium px-2"><%= post.user.nickname %></span>
          </a>
          <span class="float-right text-sm"><%= post.created_at.strftime('%Y/%m/%d')%></span>

          <%= link_to post do %>
            <div class="h-full overflow-hidden">
              <% if post.feature_images.present? %>
                <%= image_tag post.feature_images[0], class:"lg:h-48 md:h-36 w-full object-cover object-center", alt:"blog"%>
              <% else %>
                <img class="lg:h-48 md:h-36 w-full object-cover object-center" src="https://dummyimage.com/720x400" alt="blog">
              <% end %>
          <% end %>

            <div class="p-6">
              <h2 class="tracking-widest text-xs title-font font-medium text-gray-500 mb-1">タグ</h2>
              <h1 class="title-font text-lg font-medium text-gray-900 mb-3 whitespace-pre-wrap"><%= link_to post.title, post %></h1>
                <div class="overflow-auto h-32">
                  <p class="leading-relaxed mb-3 whitespace-pre-wrap"><%= post.body %></p>
                </div>
              <div class="flex items-center flex-wrap ">
                <%= render 'likes/likes', post: post %>
                <span class="text-gray-600 inline-flex items-center leading-none text-xl">
                  <i class="far fa-comment"></i>
                </span>
              </div>
            </div>
        </div>
      </div>
        <% end %>