<div class="max-w-6xl m-auto">
  <div class="container mx-auto border rounded-lg p-4 mb-8">
    <a class="inline-flex items-center">
      <img alt="blog" src="https://dummyimage.com/104x104" class="w-12 h-12 rounded-full flex-shrink-0 object-cover object-center">
      <span class="title-font font-medium px-2"><%= @post.user.nickname %></span>
    </a>
    <span class="float-right text-sm px-2 py-4 mx-auto"><%= @post.created_at.strftime('%Y/%m/%d')%></span>
    <%= link_to @post do %>
      <% if @post.feature_images.present? %>
        <div class="flex w-1/4 lg:h-48 md:h-36 object-contain object-center">
          <% @post.feature_images.each do |image| %>
            <%= image_tag image, class:"p-1" %>
          <% end %>
        </div>
      <% end %>
    <% end %>


    <div class="px-4 py-4">
      <%= render 'tags/tag_list', tag_list: @post.tag_list %>
      <h1 class="title-font text-lg font-bold text-gray-900 mb-3 whitespace-pre-wrap"><%= @post.title %></h1>
      <p class="leading-relaxed mb-3 whitespace-pre-wrap font-medium"><%= @post.body %></p>
    </div>
    <div class="flex items-center flex-wrap text-xl">
      <%= render 'likes/like', post: @post %>
      <%= render 'comments/comment', post: @post %>

      <% if user_signed_in? && current_user.id == @post.user_id %>
        <%= link_to edit_post_path(@post), class: "mr-3 inline-flex items-center lg:ml-auto md:ml-0 ml-auto leading-none pr-3 py-1 hover:text-green-400", title:"編集" do %>
          <i class="fas fa-edit"></i>
        <% end %>
        <%= link_to @post, method: :delete, data: { confirm: 'ほんとに削除しますか？' }, class: "inline-flex items-center leading-none hover:text-red-600", title:"削除" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      <% end %>
    </div>
  </div>
  
  <% if user_signed_in? %>
    <div class="">
      <%= form_with(model: [@post, @comment], remote: true) do |form| %>
        <div class="mt-6">
          <%= form.text_area :body, class: "input mt-4", placeholder: "(最大140文字まで)", maxlength:'140', rows: "1" %>
        </div>
        <div class="mb-6">
          <%= form.submit "コメントする", class: "btn-default btn" %>
        </div>
      <% end %>
    </div>
  <% end %>
  <div class="flex items-center justify-between pb-4 mb-4 border-b">
    <h1 class="text-xl font-bold mb-0 text-gray-500">コメント</h1>
  </div>
  <div id="comment-list" class="border rounded-lg p-4">
    <%= render 'comments/comments', comments: @comments %>
  </div>
    <%= link_to_next_page @comments, 'もっと見る・・・', id: 'more-comment', class: 'more-link flex items-center justify-center inline-block py-1 px-2 border rounded-lg text-indigo-500 font-medium tracking-widest hover:bg-indigo-500 hover:text-white', remote: true%>
</div>